.container-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 300px;
    width: 100%;
    background: rgb(206,113,156);
background: linear-gradient(72deg, rgba(206,113,156,1) 0%, rgba(151,70,180,1) 50%, rgba(97,28,205,1) 100%);

}
.div-logo-footer{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-info-footer{
    width: 60%;
    height: 280px; 
    display: flex;
    justify-content: space-around;
    margin-top:20px;
    margin-right: 20px;
    text-align: center;
}

.img-footer{
    height: 300px;
    width: 300px;
}

.tipografia-footer-h3{
    color: white;
    font-family: 'baloo2', cursive;
    font-weight: bold;
    font-size: 30px;
}

.link-footer{
    
    color: white;
    font-family: 'baloo2', cursive;
    font-weight: bold;
    text-decoration: none;
    
}